<html>
<head>
  <title>LMRS Sample project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://almsaeedstudio.com/themes/AdminLTE/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="https://almsaeedstudio.com/themes/AdminLTE/dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

  <link rel="stylesheet" href="styles.css">
</head>
<body onload="init_page();">
<!-- <body> -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">2016 U.S. Congressional Control Markets</a>
    </div>
    <div class="navbar-collapse collapse pull-right">
      <ul class="nav navbar-nav">
        <li style="padding:0 0 0 0"><a href="#about" data-toggle="modal" data-target="#myModaAbout">About</a></li>
        <li style="padding:0 0 0 0"><a href="#contact" data-toggle="modal" data-target="#myModalContact">Contact</a></li>
        <li style="padding:0 0 0 0"><a href="#setting" data-toggle="modal" data-target="#myModalSetting">Setting</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<!-- Modal About -->
<div id="myModaAbout" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="panel-title">About project</h3>
      </div>
      <div class="modal-body">
        <p> It's about us!! </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal Contact -->
<div id="myModalContact" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="panel-title">Contact Info</h3>
      </div>
      <div class="modal-body">
      <p> It's the contact information of us .... .</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Setting -->
<div id="myModalSetting" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="panel-title">Market status</h3>
      </div>
      <div class="modal-body">
            <div class="box-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Maker B parameter</label>
                <input type="text" class="form-control" id="b_number" placeholder="Maker B parameter" autocomplete="off" value="500">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Investor Count</label>
                <input type="text" class="form-control" id="investor_count" placeholder="Investor Count" autocomplete="off" value="10">
              </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary" onclick="reconfigure()">Save</button>
            </div>
          </div>
      </div>

    </div>

  </div>
</div>

<section class="content">
  <div class="row">
    <section class="col-lg-9 connectedSortable ui-sortable" >
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">2016 U.S. Congressional Control Markets</h3>
        </div>
        <div class="panel-body"  >
          <canvas id="lineChart"  style="width : 100%; height:350px"></canvas>
          <div id="legend"></div>
        </div>
        <div class="box-footer">
          <button id="nextDay" onclick="resetMarket()" class="btn btn-primary">Rest Markey!</button>

          <button id="nextDay" onclick="goNextDay()" class="btn btn-primary pull-right">Run for the Next Day!</button>
        </div>
      </div>

        <!-- Details Marke -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Transaction details</h3>
            </div>
            <div class="panel-body"  >

              <table id="marketDetails" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Day</th>
                        <th>Investor ID</th>
                        <th>DH_DS16</th>
                        <th>DH_RS16</th>
                        <th>RH_DS16</th>
                        <th>RH_RS16</th>
                        <th>OTHER16</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tfoot>
                  <tr>
                      <th>Number</th>
                      <th>Day</th>
                      <th>Investor ID</th>
                      <th>DH_DS16</th>
                      <th>DH_RS16</th>
                      <th>RH_DS16</th>
                      <th>RH_RS16</th>
                      <th>OTHER16</th>
                      <th>Price</th>
                  </tr>
                </tfoot>
                <tbody id='order_details'>

                </tbody>
              </table>

            </div>
          </div>

          <!-- Details Marke -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Investor details</h3>
              </div>
              <div class="panel-body"  >

                <table id="investorsDetails" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                          <th>Investor ID</th>
                          <th>DH_DS16</th>
                          <th>DH_RS16</th>
                          <th>RH_DS16</th>
                          <th>RH_RS16</th>
                          <th>OTHER16</th>
                          <th>budget</th>
                      </tr>
                  </thead>
                  <tfoot>
                    <tr>
                          <th>Investor ID</th>
                          <th>DH_DS16</th>
                          <th>DH_RS16</th>
                          <th>RH_DS16</th>
                          <th>RH_RS16</th>
                          <th>OTHER16</th>
                          <th>Budget</th>
                    </tr>
                  </tfoot>
                  <tbody id='order_details'>

                  </tbody>
                </table>

              </div>
            </div>

    </section>

    <!-- Market status -->
    <section class="col-lg-3 connectedSortable ui-sortable" >
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Market status</h3>
          </div>

          <section class="connectedSortable ui-sortable" >
              <!-- small box -->
              <div class="small-box" style="background-color:rgba(157,143,196,0.7)">
                <div class="inner">
                  <h3 id='DH_DS16_value'>120</h3>
                  <p >DH_DS16, worth <b id='DH_DS16_text'>0.23</b>$</p>
                </div>
                <div class="icon">
                  <i class="ion ion-social-usd"></i>
                </div>
              </div>

              <div class="small-box" style="background-color:rgba(40,58,155,0.7)">
                <div class="inner">
                  <h3 id='DH_RS16_value'>120</h3>
                  <p >DH_RS16, worth <b id='DH_RS16_text'>0.23</b>$</p>
                </div>
                <div class="icon">
                  <i class="ion ion-social-usd"></i>
                </div>
              </div>

              <div class="small-box" style="background-color:rgba(153,2,75,0.7)">
                <div class="inner">
                  <h3 id='RH_DS16_value'>120</h3>
                  <p>RH_DS16, worth <b id='RH_DS16_text'>0.23</b>$</p>
                </div>
                <div class="icon">
                  <i class="ion ion-social-usd"></i>
                </div>
              </div>

              <div class="small-box" style="background-color:rgba(42,84,38,0.7)">
                <div class="inner">
                  <h3 id='RH_RS16_value'>120</h3>
                  <p>RH_RS16, worth <b id='RH_RS16_text'>0.23</b>$</p>
                </div>
                <div class="icon">
                  <i class="ion ion-social-usd"></i>
                </div>
              </div>


              <div class="small-box" style="background-color:rgba(242,78,4,0.7)">
                <div class="inner">
                  <h3 id='OTHER16_value'>120</h3>
                  <p>OTHER16, worth <b id='OTHER166_text'>0.23</b>$</p>
                </div>
                <div class="icon">
                  <i class="ion ion-social-usd"></i>
                </div>
              </div>

<script language="JavaScript"><!--
  var chartData = {
      labels: [1],
      datasets: [
          {
              label: "DH_DS16",
              fillColor: "rgba(157,143,196,0)",
              strokeColor: "rgba(157,143,196,1)",
              pointColor: "rgba(157,143,196,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(157,143,196,1)",
              data: [0]
          },
          {
              label: "DH_RS16",
              fillColor: "rgba(40,58,155,0)",
              strokeColor: "rgba(40,58,155,1)",
              pointColor: "rgba(40,58,155,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(40,58,155,1)",
              data: [0]
          },
          {
              label: "RH_DS16",
              fillColor: "rgba(153,2,75,0)",
              strokeColor: "rgba(153,2,75,1)",
              pointColor: "rgba(153,2,75,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(153,2,75,1)",
              data: [0]
          },
          {
              label: "RH_RS16",
              fillColor: "rgba(42,84,38,0)",
              strokeColor: "rgba(42,84,38,1)",
              pointColor: "rgba(42,84,38,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(42,84,38,1)",
              data: [0]
          },
          {
              label: "OTHER16",
              fillColor: "rgba(242,78,4,0)",
              strokeColor: "rgba(242,78,4,1)",
              pointColor: "rgba(242,78,4,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(242,78,4,1)",
              data: [0]
          }
      ]
  };

  function displayLineChart(data) {
    console.log('displayLineChart is run!!');
    var ctx = document.getElementById("lineChart").getContext("2d");
    var options = { };
    var lineChart = new Chart(ctx).Line(data, options);
    var legendHolder = document.createElement('div');
    legendHolder.innerHTML = lineChart.generateLegend();
    document.getElementById("legend").innerHTML = "";
    document.getElementById("legend").appendChild(legendHolder.firstChild)
    $(document).ready(function() {
        $('#marketDetails').DataTable();
        $('#investorsDetails').DataTable();
    } );

  }

  function init_page(){
    $.getJSON( "http://localhost:8080/lmrs/info", function( data ) {
      refreshPage(data);
      });
  }


  function refreshPage(data){
    // Update Market Info
    $('#DH_DS16_value').text(data["market"]["DH_DS16"]["count"]);
    $('#DH_DS16_text').text(data["market"]["DH_DS16"]["price"]);

    $('#DH_RS16_value').text(data["market"]["DH_RS16"]["count"]);
    $('#DH_RS16_text').text(data["market"]["DH_RS16"]["price"]);

    $('#RH_DS16_value').text(data["market"]["RH_DS16"]["count"]);
    $('#RH_DS16_text').text(data["market"]["RH_DS16"]["price"]);

    $('#RH_RS16_value').text(data["market"]["RH_RS16"]["count"]);
    $('#RH_RS16_text').text(data["market"]["RH_RS16"]["price"]);

    $('#OTHER16_value').text(data["market"]["OTHER16"]["count"]);
    $('#OTHER16_text').text(data["market"]["OTHER16"]["price"]);

    chartData["labels"] = data["history"]["labels"];
    chartData["datasets"][0]["data"] = data["history"]["DH_DS16"];
    chartData["datasets"][1]["data"] = data["history"]["DH_RS16"];
    chartData["datasets"][2]["data"] = data["history"]["RH_DS16"];
    chartData["datasets"][3]["data"] = data["history"]["RH_RS16"];
    chartData["datasets"][4]["data"] = data["history"]["OTHER16"];

    // Market details
    var datatable = $('#marketDetails').dataTable().api();
    datatable.clear();

    var orders = data["orders"];

    for (var id in orders)
    {
      datatable.row.add([id, orders[id]["day"], orders[id]["investor_id"],  orders[id]["DH_DS16"],
                          orders[id]["DH_RS16"] , orders[id]["RH_DS16"] , orders[id]["RH_RS16"] ,
                          orders[id]["OTHER16"] , orders[id]["price"]   ]);
    }
    datatable.order([0, 'desc']).draw()

    // Investor details
    var datatable2 = $('#investorsDetails').dataTable().api();
    datatable2.clear();

    var investors = data["investors"];

    for (var id in investors)
    {
      datatable2.row.add( [investors[id]["id"], investors[id]["DH_DS16"],
                          investors[id]["DH_RS16"] , investors[id]["RH_DS16"] , investors[id]["RH_RS16"] ,
                          investors[id]["OTHER16"] , investors[id]["budget"]   ]);
    }


    datatable2.draw()

    $("#investor_count").val(data["investor_count"]);
    $("#b_number").val(data["b_number"]);

    displayLineChart(chartData);
  };

  // On mouse-over, execute myFunction
  function goNextDay() {
    $.getJSON( "http://localhost:8080/lmrs/next_day", function( data ) {
      refreshPage(data);
      });
  }

  function reconfigure(){
    resetMarket();
    $('#myModalSetting').modal('hide');
  }

  function resetMarket(){
    var url = "http://localhost:8080/lmrs/init?investor_count=" + $("#investor_count").val() + "&b_number=" + $("#b_number").val()
    $.getJSON( url, function( data ) {
      });

    $.getJSON( "http://localhost:8080/lmrs/info", function( data ) {
      refreshPage(data);
      });

  }


</script>



          </section>
          </div>
        </div>
    </section>

  </div>
</section>

</body>
</html>
